$color_1: #483435;
$color_2: #f88e15;
$color_3: black;
$color_4: #b46b16;
$color_5: #ffffff;
$color_6: white;
$background-color_1: #FFE080;
$background-color_2: #ebb6a0;
$background-color_3: #e7854d;
$background-color_4: #e27535;

/*mapas y variables*/

$gradientesTierra: "si";

$mapaTierra: (1: #f88e15 , 2: #b46b16 , 3: #483435 );