$color_1: #483435;
$color_2: #853324;
$color_3: black;
$color_4: #c57330;
$color_5: #ffffff;
$color_6: white;
$background-color_1: #ebb6a0;
$background-color_2: #ebb6a0;
$background-color_3: #c57330;
$background-color_4: #ac7353;
$background-color_5: #f4d698;
$background-color_6: #f4d494;


$gradientesTierra: "si";

$mapaTierra: (1: #eca656 , 2: #b46b16 , 3: #462513 );

