.tituloproducto1 {
  color: #f88e15;
}

.tituloproducto2 {
  color: #b46b16;
}

.tituloproducto3 {
  color: #483435;
}

.titulomayorista1 {
  color: #f88e15;
}

.titulomayorista2 {
  color: #b46b16;
}

.titulomayorista3 {
  color: #483435;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login a, .login, header .buscador {
  margin: 5px;
  padding: 5px;
}

header .buscador {
  display: inline-block;
  color: #483435;
}
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.login {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
.login a {
  text-align: right;
  color: #483435;
  text-decoration: none;
  position: relative;
  font-size: 30px;
}

article {
  border-radius: 15px;
  text-align: center;
}
article .contactoinput {
  display: flex;
  justify-content: center;
}
article .frutoshome {
  text-align: center;
  margin: 50px;
}

.logininput {
  display: flex;
  justify-content: center;
}

.registerinput {
  display: flex;
  justify-content: center;
}

fieldset {
  display: inline-block;
  width: 300px;
  height: 400px;
  margin: 10px;
  position: relative;
  left: 40%;
  bottom: 20px;
  text-align: center;
}

.buscador {
  font-size: 30px;
}

.menu li {
  display: inline-block;
}
.menu ul {
  background-color: #f4d494;
  padding: 25px;
  margin: 20px;
  text-align: center;
}
.menu a {
  color: #853324;
  text-decoration: none;
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 45px;
}
.menu a:hover {
  color: #c57330;
  font-size: 40px;
  color: #c57330;
  transition: all 1s;
}

a:hover {
  color: black;
}

.frutoshome img {
  width: 700px;
  margin-top: 70px;
}

.navaside {
  margin: -20px;
  overflow: hidden;
}
.navaside a:hover {
  color: #853324;
}

h3 {
  font-size: 35px;
  color: #483435;
  text-align: center;
  padding: 50px;
  color: #853324;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 15px;
  text-align: center;
  padding: 15px;
  font-size: 30px;
}

footer {
  background-color: #ebb6a0;
}

li {
  text-decoration: none;
  color: #483435;
  font-size: 25px;
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: #483435;
  font-size: 25px;
}

.navegacionfooter {
  display: flex;
  display: inline-block;
  padding: 70px;
  margin-left: 25px;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
  text-align: left;
  padding: 20px;
  margin: 25px;
}

h2 {
  color: #853324;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 15px;
  text-align: center;
  padding: 15px;
  font-size: 50px;
}

.menuProductos {
  display: grid;
}

input[type=submit] {
  background-color: #c57330;
  color: #ffffff;
  padding: 15px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #ac7353;
}

.cajas {
  display: flex;
  justify-content: space-between;
}

.contactofooter {
  display: inline-block;
  padding: 70px;
}

.letter {
  display: flex;
  display: inline-block;
  font-size: 25px;
  text-align: right;
  padding: 70px;
}

aside {
  background-color: #f4d494;
  grid-area: aside;
}
aside ul {
  padding: 2px;
  margin-left: 80px;
}
aside ul li {
  padding: 2px;
  margin-left: -20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
aside li a {
  font-size: 35px;
}

section {
  grid-area: section;
  -moz-column-gap: 15 px;
       column-gap: 15 px;
  row-gap: 15px;
  align-items: center;
  display: grid;
}

.botonprod1 {
  background-color: #ebb6a0;
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
  color: #853324;
  font-family: Arial;
  font-size: 17px;
  padding: 15px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #662b27;
}
.botonprod1 .botonprod1:hover {
  background-color: #c29a23;
}
.botonprod1 .botonprod1:active {
  position: relative;
  top: 1px;
}

.contenedorNueces:hover .nueces {
  transform: scale(1.3);
  filter: grayscale(80%);
  transition: all 1s;
}

.contenedorNueces {
  overflow: hidden;
}

.gridTextoMain .col {
  margin: 15px;
  border-radius: 15px;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}
.gridTextoMain .row {
  margin: auto;
}

@media screen and (min-width: 320px) {
  .menu li {
    display: block;
  }
  .lorem {
    text-align: center;
    font-size: 35px;
    display: inline-block;
    padding: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #483435;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 70px;
  }
  .logininput {
    margin-left: -200px;
  }
  .registerinput {
    margin-left: -200px;
  }
  .contactoinput {
    margin-left: -200px;
  }
  .login {
    display: none;
  }
  .menuProductos {
    grid-template-columns: auto;
    grid-template-rows: 15% 10% auto 15%;
    grid-template-areas: "header" "nav" "section" "footer";
  }
  section {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
  aside {
    display: none;
  }
  .contenedorNueces:hover .nueces {
    transform: scale(1);
    filter: grayscale(80%);
    transition: all 1s;
  }
  .contenedorNueces .nueces {
    height: 130px;
    width: 45%;
  }
  footer {
    margin-top: 500px;
  }
  .cajas {
    display: block;
    align-items: center;
    text-align: center;
  }
  .navegacionfooter {
    display: flexbox;
    justify-content: center;
    display: block;
    padding: 70px;
  }
  .contactofooter {
    display: flexbox;
    justify-content: center;
    display: block;
    padding: 70px;
  }
  .letter {
    display: flex;
    display: inline-block;
    font-size: 25px;
    text-align: right;
    padding: 70px;
  }
  .carousel-inner {
    height: 300px;
  }
  .btn {
    background-color: #c57330;
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
  }
  .btn a {
    color: white;
  }
  .btn:hover {
    background-color: #ac7353;
  }
  article .articlequienessomos img {
    visibility: hidden;
  }
}
@media screen and (min-width: 1200px) {
  article .articlequienessomos img {
    visibility: visible;
  }
  .login {
    display: show;
    display: inline-block;
    position: absolute;
    margin: 5px;
    padding: 5px;
    top: 0;
    right: 0;
  }
  .menu li {
    display: inline-block;
  }
  .menuProductos {
    grid-template-columns: 15% auto;
    grid-template-rows: auto;
    grid-template-areas: "aside section";
  }
  .contenedorNueces .nueces {
    height: 250px;
    width: 350px;
  }
  .lorem {
    text-align: left;
    font-size: 35px;
    display: inline-block;
    padding: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #483435;
    margin-left: 40px;
    margin-right: 40px;
    -moz-column-count: 3;
         column-count: 3;
    margin-top: 70px;
  }
  section {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    -moz-column-gap: 80px;
         column-gap: 80px;
    row-gap: 100px;
    margin-bottom: 50px;
  }
  aside {
    display: block;
    line-height: 80px;
  }
  footer {
    margin-top: 0px;
  }
  .cajas {
    display: flex;
    justify-content: space-between;
  }
  .contactofooter {
    display: inline-block;
    padding: 70px;
  }
  .letter {
    display: flex;
    display: inline-block;
    font-size: 25px;
    text-align: right;
    padding: 70px;
  }
  .navegacionfooter {
    display: flex;
    display: inline-block;
    padding: 70px;
    margin-left: px;
  }
  .carousel-inner {
    height: 600px;
  }
  .carouselExampleControls {
    height: 600px;
    width: 600px;
  }
  .logininput {
    margin-left: -200px;
  }
  .registerinput {
    margin-left: -200px;
  }
  .contactoinput {
    margin-left: -200px;
  }
}/*# sourceMappingURL=styles.css.map */