@import "colores";
@import "tipografia";
@import "mapasvariables";


@mixin escalado {
	font-size: 40px;
	color: $color_4;
	transition: all 1s;
	
}


@if $colorTierra == "si" {
	@for $i from 1 through 3{
		.tituloproducto#{$i}{
		  color: map-get( $mapaTierra, $i) ;
		
		}
	}
}

@if $colorTierra == "si" {
	@for $i from 1 through 3{
		.titulomayorista#{$i}{
		  color: map-get( $mapaTierra, $i) ;
		
		}
	}
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


%margins{
	margin: 5px;
	padding: 5px
}


header {
	.buscador {
		@extend %margins;
		display: inline-block;
		color: $color_1;
	}
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 400px;
	}
}
.login {
	display: inline-block;
	position: absolute;
	@extend %margins;
	top: 0;
	right: 0;

	a {

		@extend %margins;
		text-align: right;
		color: $color_1;
		text-decoration: none;
		position: relative;
		font-size: 30px;
	}
}
article {
	.contactoinput {
		display: flex;
		justify-content: center;
	}
	.frutoshome {
		text-align: center;
		margin: 50px;
	}
	border-radius: 15px;
	text-align: center;
}


.logininput {
	display: flex;
	justify-content: center;
}
.registerinput {
	display: flex;
	justify-content: center;
}
fieldset {
	display: inline-block;
	width: 300px;
	height: 400px;
	margin: 10px;
	position: relative;
	left: 40%;
	bottom: 20px;
	text-align: center;
}
.buscador {
	font-size: 30px;
}
.menu {
	li {
		display: inline-block;
	}
	ul {
		background-color: $background-color_6;
		padding: 25px;
		margin: 20px;
		text-align: center;
	}
	a {
		color: $color_2;
		text-decoration: none;
		padding: 20px;
		font-family: $font-family_1;
		font-size: 45px;
		
		&:hover {
			color: $color_4;
			@include escalado;
		}
	}
}
a {
	&:hover {
		color: $color_3;
	}
}
.frutoshome {
	img {
		width: 700px;
		margin-top: 70px;
	}
}
.navaside {
	margin: -20px;
	overflow: hidden;

	a{

	&:hover{
		color: $color_2;
	}
	}
}
h3 {
	font-size: 35px;
	color: $color_1;
	text-align: center;
	padding: 50px;
	color: $color_2;
	font-family: $font-family_2;
	margin: 15px;
	text-align: center;
	padding: 15px;
	font-size: 30px;
}
footer {
	background-color: $background-color_2;
}
li {
	text-decoration: none;
	color: $color_1;
	font-size: 25px;
	list-style-type: none;
	a {
		text-decoration: none;
		color: $color_1;
		font-size: 25px;
	}
}
.navegacionfooter {
	display: flex;
	display: inline-block;
	padding: 70px;
	margin-left: 25px;
}
p {
	font-family: $font-family_2;
	font-size: 35px;
	text-align: left;
	padding: 20px;
	margin: 25px;
}
h2 {
	color: $color_2;
	font-family: $font-family_2;
	margin: 15px;
	text-align: center;
	padding: 15px;
	font-size: 50px;
}
.menuProductos {
	
	display: grid;
}


input[type=submit] {
	background-color: $background-color_3;
	color: $color_5;
	padding: 15px 20px;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	&:hover {
		background-color: $background-color_4;
	}
}
.cajas {
	display: flex;
	justify-content: space-between;
}
.contactofooter {
	display: inline-block;
	padding: 70px;
}
.letter {
	display: flex;
	display: inline-block;
	font-size: 25px;
	text-align: right;
	padding: 70px;
}
aside {
	ul {
		li {
			padding: 2px;
			margin-left: -20px;
			font-family: $font-family_2;
		}
		padding: 2px;
		margin-left: 80px;
	}
	background-color: $background-color_6;
	grid-area: aside;
	li {
		a {
			font-size: 35px;
		}
	}
}
section {
	grid-area: section;
	column-gap: 15 px;
	row-gap: 15px;
	align-items: center;
	display: grid;
}

.botonprod1 {
	background-color:$background-color_2;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	border-radius:25px;
	display:inline-block;
	cursor:pointer;
	color:$color_2;
	font-family:Arial;
	font-size:17px;
	padding:15px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #662b27;

	.botonprod1:hover {
		background-color:#c29a23;
	}
	.botonprod1:active {
		position:relative;
		top:1px;
	}
	
}


.contenedorNueces:hover .nueces {
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
	filter: grayscale(80%); 
	transition: all 1s;}
.contenedorNueces {overflow:hidden;}

.contenedorNueces {
	.nueces{
		height: 250px;
		width: 350px;
	}
}

.gridTextoMain {
	.col {
		margin: 15px;
		border-radius: 15px;
		text-align: left;
		font-family: $font-family_2;
		font-size: 30px;
	}

	.row{
		margin: auto;
	}
	
	
}


@media screen and (min-width: 320px) {
	.menu {
		li {
			display: block;
		}
	}
	.lorem {
		text-align: center;
		font-size: 35px;
		display: inline-block;
		padding: 18px;
		font-family: $font-family_3;
		color: $color_1;
		margin-left: 40px;
		margin-right: 40px;
		margin-top: 70px;
	}
	.logininput {
		margin-left: -200px;
	}
	.registerinput {
		margin-left: -200px;
	}
	.contactoinput {
		margin-left: -200px;
	}
	.login {
		display: none;
	}
	.menuProductos {
		grid-template-columns: auto;
		grid-template-rows: 15% 10% auto 15%;
		grid-template-areas: "header" "nav" "section" "footer";
	}
	section {
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(3, auto);
	}
	aside {
		display: none;
	}
	footer {
		margin-top: 500px;
	}
	.cajas {
		display: block;
		align-items: center;
		text-align: center;
	}
	.navegacionfooter {
		display: flexbox;
		justify-content: center;
		display: block;
		padding: 70px;
	}
	.contactofooter {
		display: flexbox;
		justify-content: center;
		display: block;
		padding: 70px;
	}
	.letter {
		display: flex;
		display: inline-block;
		font-size: 25px;
		text-align: right;
		padding: 70px;
	}
	.carousel-inner {
		height: 300px;
	}
	.btn {
		background-color: $background-color_3;
		padding: 15px 20px;
		border: none;
		border-radius: 7px;
		a {
			color: $color_6;
		}
		&:hover {
			background-color: $background-color_4;
		}
	}
}
@media screen and (min-width: 1200px) {


	.login {
		display: show;
		display: inline-block;
		position: absolute;
		margin: 5px;
		padding: 5px;
		top: 0;
		right: 0;
	}
	.menu {
		li {
			display: inline-block;
		}
	}
	.menuProductos {
		grid-template-columns: 15% auto;
		grid-template-rows: auto;
		grid-template-areas: "aside section";
	}
	.lorem {
		text-align: left;
		font-size: 35px;
		display: inline-block;
		padding: 18px;
		font-family: $font-family_3;
		color: $color_1;
		margin-left: 40px;
		margin-right: 40px;
		column-count: 3;
		margin-top: 70px;
	}
	section {
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(3, auto);
		column-gap: 80px;
		row-gap: 100px;
		margin-bottom: 50px;
	}
	aside {
		display: block;
		line-height: 80px;
	}
	footer {
		margin-top: 0px;
	}
	.cajas {
		display: flex;
		justify-content: space-between;
	}
	.contactofooter {
		display: inline-block;
		padding: 70px;
	}
	.letter {
		display: flex;
		display: inline-block;
		font-size: 25px;
		text-align: right;
		padding: 70px;
	}
	.navegacionfooter {
		display: flex;
		display: inline-block;
		padding: 70px;
		margin-left: px;
	}
	.carousel-inner {
		height: 600px;
	}
	.carouselExampleControls {
		height: 600px;
		width: 600px;
	}
	.logininput {
		margin-left: -200px;
	}
	.registerinput {
		margin-left: -200px;
	}
	.contactoinput {
		margin-left: -200px;
	}
}